* {
    padding: 0;
    margin: 0;
}
ul {
    margin-left: auto;
}
.navbar-brand {
    font-weight: 600;
    font-family: monospace;
}
.jumbotron {
    padding-top: 2rem;
    background-color: #DDF2FD;
}
.profile {
    width: 270px;
    border-radius: 270px;
    border: solid #9BBEC8 5px;
}
.judul-jombroton {
    font-family: monospace;
    font-weight: 700;
}
.jumbotron-desc {
    margin-right: 200px;
    margin-left: 200px;
    font-family: Arial;
}
.row {
    text-align: center;
}
.cmage {
    justify-content: center;
}
h2 {
    font-family: monospace;
    font-weight: 700;
    color: #164863;
}
.ncard {
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    padding-bottom: 30px;
}
.contact {
    font-family: monospace;
    color: white;
    padding-top: 30px;
}
h1 {
    font-weight: 600;
}
.form-label {
    margin-top: 30px;
    font-size: 20px;
    font-family: monospace;
}


#hobbies {
    background-color: rgb(219, 219, 219);
}
#c1 {
    background-color: #eeeeee;
}
#c2 {
    background-color: #f9f9f9;
}
#c3 {
    background-color: #427D9D;
}
#c4 {
    background-color: #9BBEC8;
}
#ctme {
    background-color: #164863;
}
footer {
    background-color: #273036;
    padding-bottom: 50px;
    text-align: center;
}
.fh3 {
    color: white;
    font-family: monospace;
}
.afot {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: monospace;
}
.afot:hover {
    color: #DDF2FD;
}
@media (max-width: 820px) {
    .jumbotron-desc {
        margin-right: 150px;
        margin-left: 150px;
    }
    .col-lg-3 {
        margin-top: 30px;
    }
    #babi {
        margin-top: 0;
    }
}
@media (max-width: 620px) {
    .jumbotron-desc {
        margin-right: 100px;
        margin-left: 100px;
    }
    
}
@media (max-width: 520px) {
    .jumbotron-desc {
        margin-right: 50px;
        margin-left: 50px;
    }
    .profile {
        width: 200px;
        border-radius: 200px;
        border: solid #9BBEC8 5px;
    }
}
@media (max-width: 400px) {
    .jumbotron-desc {
        margin-right: 30px;
        margin-left: 30px;
    }
}